{% extends 'base.html'%}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                {{ message }}<br>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-8">
            <form action="{{ url_for('place.adding_place') }}" method='POST'>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.place.label }}
                    {{ form.place() }}
                </div>
                <div class="form-group">
                    {{ form.description.label }}
                    {{ form.description() }}
                </div>
                <div class="form-group">
                    {{ form.country_input_method.label }}
                    {{ form.country_input_method() }}
                </div>
                <div class="form-group">
                    {{ form.country.label }}
                    {{ form.country() }}
                </div>
                <div class="form-group" id="groupCityInput" style="display: none;">
                    <label for="citiesSelect">City</label>
                    <select class="form-control" id="citiesSelect" name="city">
                    </select>
                </div>
                {{ form.submit() }}
            </form>
        </div>
        <div class="col-4"></div>
    </div>

{% endblock %}

{% block scripts %}
    <script src={{ url_for('static', filename='get-cities.js') }} ></script>
{% endblock %}