{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-8">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <a href="{{ url_for('admin.places_list') }}"> Редактировать места</a>
        <br>
        <a href="{{ url_for('admin.cities_list') }}"> Редактировать города</a>
        <br>
        <a href="{{ url_for('admin.countries_list') }}"> Редактировать страны</a>
        </div>
        <div class="col-4"></div>
    </div>
{% endblock %}