{% extends 'base.html'%}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                {{ message }}<br>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-8">
            <table id="example1" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>City</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>City</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-4"></div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src={{ url_for('static', filename='get_list_places.js') }} ></script>
{% endblock %}